<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About Demo airways and rentals</h2>
  <p>
    The demo airays  Rentals website is a delightful project created to explore places while travell.
   
  </p>
    {{#link-to "contact" class="button"}}
    Contact Us
  {{/link-to}}
</div>
{{outlet}}